.About {
  color: var(--textColor);
  font-size: 2.5rem;
  text-shadow: 0 0 1px var(--mainColor);
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clash {
  border-radius: 1rem;
  margin-top: 2rem;
  width: 35rem;
}

blockquote {
  padding-bottom: 1rem;
}

q {
  color: var(--secondaryColor);
  font-size: 2.5rem;
  font-style: italic;
}

blockquote p {
  font-size: 2rem;
}

.btn-pick {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: var(--secondaryLighter);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 0 0 1px var(--mainColor);
  border: 2px solid var(--mainColorLight);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--superLight);
  color: var(--secondaryColor);
  box-shadow: 0 0 4px whitesmoke;
}

.About p span {
  color: var(--secondaryColor);
  font-size: 1.4rem;
  padding-right: 1rem;
  font-weight: 600;
}

.Personal,
.Professional {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.card,
.card .W {
  font-size: 1.7rem;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: reveal 1s ease forwards;
}

@keyframes reveal {
  100% {
    opacity: 1;
  }
}

.card .W {
  padding-top: 1rem;
}

.frontend,
.backend {
  display: grid;
  grid-row: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left,
.right {
  width: auto;
  height: 15vh;
}

.Professional .left,
.Professional .right {
  height: 10vh;
}

.swim {
  margin-bottom: -2rem;
  margin-top: 1rem;
}

.left {
  position: relative;
  left: -50vw;
  overflow: hidden;
}

.left:nth-child(1) {
  animation: slideLeft 1s ease-out forwards;
}

.left:nth-child(2) {
  animation: slideLeft 1s ease-out 0.5s forwards;
}

.left:nth-child(3) {
  animation: slideLeft 1s ease-out 1s forwards;
}

.left:nth-child(4) {
  animation: slideLeft 1s ease-out 1.5s forwards;
}

@keyframes slideLeft {
  100% {
    left: 0;
  }
}

.right {
  position: relative;
  left: 50vw;
  overflow: hidden;
}

.right:nth-child(1) {
  animation: slideRight 1s ease-out forwards;
}

.right:nth-child(2) {
  animation: slideRight 1s ease-out 0.5s forwards;
}

.right:nth-child(3) {
  animation: slideRight 1s ease-out 1s forwards;
}

.right:nth-child(4) {
  animation: slideRight 1s ease-out 1.5s forwards;
}

@keyframes slideRight {
  100% {
    left: 0;
  }
}

@media (max-width: 1280px) {
  q {
    font-size: 2.2rem;
  }

  blockquote p {
    font-size: 1.6rem;
  }

  .card,
  .card .W {
    font-size: 1.4rem;
  }

  button {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .card,
  .card .W {
    font-size: 1.2rem;
  }

  .Personal,
  .Professional {
    padding: 0.2rem;
  }

  q {
    font-size: 2rem;
  }

  blockquote p {
    font-size: 1.4rem;
  }

  button {
    font-size: 1rem;
  }

  .clash {
    width: 28rem;
  }
}

@media (max-width: 768px) {
  .About {
    font-size: 1.5rem;
  }

  .sports,
  .non-sports,
  .frontend,
  .backend {
    display: none;
  }
  .Personal,
  .Professional {
    display: flex;
  }
}

@media (max-width: 481px) {
  q {
    font-size: 1.4rem;
  }

  blockquote {
    padding-bottom: 4px;
  }

  blockquote p {
    font-size: 1.2rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.45rem;
  }

  .card,
  .card .W {
    font-size: 1.1rem;
    padding-top: 2px;
  }

  .clash {
    width: 24rem;
  }
}
