.App {
  text-align: center;
  background-color: var(--mainColorLight);
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-size: 3rem;
  height: 90vh;
  box-shadow: 0 0 4px var(--textColor);
  background-color: #575757;
  background-image: linear-gradient(30deg, var(--textureA)),
    linear-gradient(150deg, var(--textureA)),
    linear-gradient(30deg, var(--textureA)),
    linear-gradient(150deg, var(--textureA)),
    linear-gradient(60deg, var(--textureB)),
    linear-gradient(60deg, var(--textureB));
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
  animation: bgLoad 2s ease-in-out forwards;
}

@keyframes bgLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

section > div {
  height: 100%;
  padding: 2rem 8rem;
}

.Home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .Home {
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    font-size: 2rem;
  }

  section > div {
    padding: 2rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  font-weight: 600;
}

.intro span {
  color: var(--secondaryColor);
}

.developer {
  max-height: 100%;
}
