.App {
  text-align: center;
  background-color: var(--mainColorLight);
  position: relative;
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-size: 3rem;
  height: 90vh;
  box-shadow: 0 0 4px var(--textColor);
  background-color: #575757;
  background-image: linear-gradient(30deg, var(--textureA)),
    linear-gradient(150deg, var(--textureA)),
    linear-gradient(30deg, var(--textureA)),
    linear-gradient(150deg, var(--textureA)),
    linear-gradient(60deg, var(--textureB)),
    linear-gradient(60deg, var(--textureB));
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
  animation: bgLoad 2s ease-in-out forwards;
}

section > div {
  max-width: 1600px;
  margin: 0 auto;
}

@keyframes bgLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.95;
  }
}

.Home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  padding: 2rem 8rem;
  overflow: hidden;
}

.developer {
  max-height: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  font-weight: bold;
  gap: 1.5rem;
  text-shadow: 0 0 1px var(--mainColor);
}

.intro > div {
  border-bottom: 2px inset whitesmoke;
}

.intro span {
  color: var(--secondaryColor);
}
.typewriter {
  overflow: hidden;
  padding-right: 4px;
  border-right: 0.15rem solid orange;
  white-space: nowrap;
  margin: 0 auto;
  opacity: 0;
  animation: typing 3.5s 1s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    opacity: 1;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello p {
  align-self: flex-end;
}

.wave {
  max-width: 6rem;
}

.more {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--secondaryLighter);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 0 0 1px var(--mainColor);
  border: 2px solid var(--mainColorLight);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.more:hover {
  background-color: var(--superLight);
  color: var(--secondaryColor);
  box-shadow: 0 0 4px whitesmoke;
}

.mobile-projects {
  display: none;
}

.Contact {
  padding: 0rem;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
}

form {
  padding: 1rem;
  display: flex;

  flex-direction: column;

  align-items: center;
}

.Contact h3 {
  margin: 0.5rem;
  color: var(--secondaryLighter);
  border-bottom: 1px inset whitesmoke;
  text-shadow: 0 0 1px var(--mainColor);
}

.Contact ul {
  list-style: none;
  width: 60vw;
}

.Contact li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

label {
  color: var(--textColor);
  font-size: 2rem;
  text-shadow: 0 0 1px var(--mainColor);
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: whitesmoke;
  color: black;
}
.area {
  width: 100%;
}

textarea {
  width: 100% !important;
  height: 8rem !important;
  resize: none;
}

.submitter {
  font-size: 1.5rem;
  padding: 0.4rem;
  background-color: var(--secondaryLighter);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 0 0 1px var(--mainColor);
  border: 2px solid var(--mainColorLight);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submitter:hover {
  background-color: var(--superLight);
  color: var(--secondaryColor);
  box-shadow: 0 0 4px whitesmoke;
}

#footer {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  max-width: 100%;
  font-size: 1.8rem;
  color: whitesmoke;
  height: 10vh;
  background-color: var(--mainColorLight);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  gap: 1rem;
}

#footer a {
  margin-bottom: -0.6rem;
  font-size: 1.8rem;
}

#footer a:hover {
  border: none;
}

/* Media queries */

@media (max-width: 1024px) {
  .desktop-projects {
    display: none;
  }
  .mobile-projects {
    display: flex;
  }

  .Home {
    font-size: 2.5rem;
    padding: 2rem;
  }

  .wave {
    max-width: 4rem;
  }

  .more {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  form {
    padding: 2rem;
  }

  .Contact h3 {
    font-size: 2.8rem;
  }

  label {
    font-size: 1.4rem;
  }

  input,
  textarea {
    font-size: 1.2rem;
  }

  .submitter {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .Home {
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .Home {
    font-size: 2rem;
    padding: 1.8rem;
  }
  .more {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  form {
    padding: 0;
  }

  .Contact h3 {
    font-size: 2.4rem;
  }

  #footer a {
    margin-bottom: -0.6rem;
    font-size: 1.4rem;
  }
}
