@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #454545;
  --mainColorLight: #686868;
  --secondaryColor: #ff6000;
  --secondaryLighter: #e56c21;
  --superLight: #ffe6c7;
  --textColor: #ffa559;
  --textureA: #4d4d4d 12%, transparent 12.5%, transparent 87%, #4d4d4d 87.5%,
    #4d4d4d;
  --textureB: #45444477 25%, transparent 25.5%, transparent 75%, #45444477 75%,
    #45444477;
}

#name-logo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

header {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  box-shadow: 0 0 4px var(--textColor);
}

.scroller {
  background-color: var(--mainColor);
  outline: none;
  border: none;
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.scroller span {
  margin-top: 3px;
}

.scroller:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--textColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  display: none;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

.single-proj {
  display: none;
}

@media (max-width: 1024px) {
  header .nav-btn {
    display: block;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .burger-nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .scroller {
    font-size: 1.7rem;
  }

  .all-proj {
    display: none;
  }
  .single-proj {
    display: block;
  }
}
